.services {
  background-image: url("../../assets/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-primary);
  font-size: 100px;
}
