.sign-up {
  position: sticky;
  background-image: url("../../assets/images/img-5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-primary);

  background-size: 200% 100% !important;
  animation: move 60s ease infinite;
  transform: translate3d(0, 0, 0);
}

.user {
  width: 90%;
  max-width: 360px;
  margin: 10vh auto;
}

.user__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
  margin-bottom: -10px;
  font-weight: 500;
  color: #fff;
}

.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
  animation: NO 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  border: 0;
  outline: 0;
  transition: 0.3s;
  color: var(--color-text-darker);
}

.form__input:focus {
  background: darken(#fff, 3%);
}

.btn-form {
  display: block;
  width: 100%;
  padding: 20px;

  cursor: pointer;
  outline: 0;
  border: 0;
  color: #fff;
  background: var(--color-background-purple-light);
  transition: 0.3s;
}

.btn-form:hover {
  background: var(--color-background-purple);
}

@keyframes NO {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 960px) {
  .user__title {
    font-size: 48px;
  }
}
